// Colours
$dark: #0b0d17;
$secondary: #d0d6f9;
$primary: #fff;

// Fonts
$primary-heading: "Bellefair", serif;
$secondary-heading: "Barlow", sans-serif;
$primary-text: "Barlow Condensed", sans-serif;
