// Colours
$dark: #0b0d17;
$secondary: #d0d6f9;
$primary: #fff;
$gray--hover: #979797;

// Fonts
$primary-heading: "Bellefair", serif;
$secondary-heading: "Barlow", sans-serif;
$primary-text: "Barlow Condensed", sans-serif;

// Font sizes

// headings //
$heading-one-size: 9.375rem;
$heading-two-size: 6.25rem;
$heading-three-size: 3.5rem;
$heading-four-size: 2rem;
$heading-five-size: 1.75rem;
// sub heading //
$subheader-one-size: 1.75rem;
$subheader-two-size: 0.875rem;
// nav //
$nav-font-size: 1rem;
// body //
$body-font-size: 1.125rem;

// Font spacing
$spacing-large: 4.725px;
$spacing-medium: 2.35px;
$spacing-small: 2.7px;

// Breakpoints
$breakpoint-mobile: 428px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// Bootstrap
$offcanvas-horizontal-width: 16rem;
$offcanvas-bg-color: transparent;
$offcanvas-color: $primary;
$offcanvas-border-width: none;
