@import "../styles/variables.scss";
@import "../styles/mixins.scss";

main.destination {
  @include pageBackground(
    "../../public/images/destination/background-destination-mobile.jpg",
    "../../public/images/destination/background-destination-tablet.jpg",
    "../../public/images/destination/background-destination-desktop.jpg"
  );

  display: grid;
  grid-template-areas:
    "head"
    "primary"
    "secondary";
  grid-template-columns: 1fr;
  grid-template-rows: 10% 50% 40%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
