@import "../styles/variables.scss";
@import "../styles/mixins.scss";

main.destination {
  @include pageBackground(
    "../../public/assets/destination/background-destination-mobile.jpg",
    "../../public/assets/destination/background-destination-tablet.jpg",
    "../../public/assets/destination/background-destination-desktop.jpg"
  );

  display: grid;
  grid-template-areas:
    "head"
    "primary"
    "secondary";
  grid-template-columns: 1fr;
  grid-template-rows: 10% 50% 40%;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

div.carousel-item {
  margin-bottom: 4rem;
  text-align: center;

  img.carousel-image {
    height: 13rem;
    width: auto;
    object-fit: contain;
  }
}

div.indicators {
  position: absolute;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
