@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

main.destination {
  @include pageBackground(
    "../../../public/assets/destination/background-destination-mobile.jpg",
    "../../../public/assets/destination/background-destination-tablet.jpg",
    "../../../public/assets/destination/background-destination-desktop.jpg"
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0 3rem 0;
  overflow: hidden;
  width: 100%;

  @media only screen and (min-width: $breakpoint-mobile) {
    padding-top: 8rem;
  }
}

div.carousel-item {
  text-align: center;

  img.carousel-image {
    width: auto;
    margin: 1rem 0 5rem 0;
    object-fit: contain;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    img.carousel-image {
      max-height: 11.5rem;
    }
  }

  @media only screen and (min-width: $breakpoint-mobile) {
    img.carousel-image {
      margin-top: 3rem;
      max-height: 20rem;
    }
  }
}

div.indicators {
  position: relative;
  top: 13.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media only screen and (max-width: $breakpoint-mobile) {
    top: 14rem;
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
    top: 25rem;

    .btn-group {
      gap: 2rem;

      .button {
        font-size: $nav-font-size !important;
      }
    }
  }
}
