@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

main.destination {
  @include pageBackground(
    "../../../public/assets/destination/background-destination-mobile.jpg",
    "../../../public/assets/destination/background-destination-tablet.jpg",
    "../../../public/assets/destination/background-destination-desktop.jpg"
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0 3rem 0;
  overflow-x: hidden;
}

div.carousel-item {
  text-align: center;

  img.carousel-image {
    height: 13rem;
    width: auto;
    margin: 1rem 0 5rem 0;
    object-fit: contain;
  }
}

div.indicators {
  position: relative;
  top: 15.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
