@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

main.destination {
  @include pageBackground(
    "../../../public/assets/destination/background-destination-mobile.jpg",
    "../../../public/assets/destination/background-destination-tablet.jpg",
    "../../../public/assets/destination/background-destination-desktop.jpg"
  );
  display: grid;
  grid-template-areas:
    "head"
    "primary";
  grid-template-columns: 1fr;
  grid-template-rows: 10% 70%;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 3rem 0;

  header {
    grid-area: head;
  }

  div.carousel {
    grid-area: primary;
  }
}

div.carousel-item {
  text-align: center;

  img.carousel-image {
    height: 13rem;
    width: auto;
    margin: 1rem 0 5rem 0;
    object-fit: contain;
  }
}

div.indicators {
  position: fixed;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
