@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

main.home {
  @include pageBackground(
    "../../../public/assets/home/background-home-mobile.jpg",
    "../../../public/assets/home/background-home-tablet.jpg",
    "../../../public/assets/home/background-home-desktop.jpg"
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  overflow: hidden;

  article {
    @include articleTpography;

    margin-bottom: 4rem;
    padding-top: 4rem;
  }
}
