@import "../../styles/variables.scss";

.btn {
  border: none;

  &:active {
    box-shadow: none;
    border: none;
  }

  &:focus {
    box-shadow: none !important;
    border: none;
  }

  &--hidden {
    display: none !important;
  }

  &--collapse {
    background-color: transparent;

    &:active {
      opacity: 0.5;
    }
  }

  &--indicator {
    color: $primary !important;
    font-size: $subheader-two-size !important;
    letter-spacing: $spacing-small;
    font-family: $primary-text;
    text-transform: uppercase;
  }

  &--underline {
    display: block;

    &::after {
      content: "";
      background: $primary !important;
      position: absolute !important;
      bottom: 0;
      left: 0.9rem;
      height: 3px !important;
      width: 50%;
    }
  }

  &--explore {
    background-color: $primary !important;
    height: 10rem;
    width: 10rem;
    text-transform: uppercase;
    border-radius: 100% !important;
    font-family: $primary-heading;
    font-size: 20px !important;
    letter-spacing: 1.25px;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0 0 0 3rem $gray--hover;
    }
  }
}
