.btn {
  border: none;

  &:active {
    box-shadow: none;
    border: none;
  }

  &:focus {
    box-shadow: none !important;
    border: none;
  }

  &--hidden {
    display: none !important;
  }

  &--collapse {
    background-color: transparent;

    &:active {
      opacity: 0.5;
    }
  }
}
