@import "../../styles/variables.scss";

li.navItem {
  font-family: $primary-text;
  font-size: $nav-font-size;
  letter-spacing: $spacing-small;
  line-height: 19px;
  width: 12rem;
  font-weight: 300;
  padding: 1rem;
  text-align: left;
  text-transform: uppercase;

  &--active {
    @media only screen and (min-width: $breakpoint-mobile) {
      a {
        padding-bottom: 1rem;
        border-bottom: 2px solid white;
      }
    }
  }

  span {
    text-align: left;
    font-weight: 700;
    margin-right: 1rem;
  }

  a {
    text-decoration: none;
  }
}
