@import "../../styles/variables.scss";

header {
  font-family: $primary-text;
  letter-spacing: $spacing-small;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  h3 {
    font-size: $body-font-size;
    color: $primary;
  }

  span {
    margin-right: 1rem;
    color: $primary;
    opacity: 0.25;
    font-weight: 700;
  }

  @media only screen and (min-width: $breakpoint-mobile) {
    h3 {
      text-align: left;
      padding-left: 1.5rem;
    }
  }
}
