@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.text {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-family: $secondary-heading;
  color: $secondary;

  &--primary-heading {
    text-transform: uppercase;
    font-size: $heading-one-size;
    font-family: $primary-heading;
    color: $primary;

    @media screen and (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet) {
      font-size: $heading-two-size;
      line-height: 91px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: $heading-three-size;
    }
  }

  &--secondary-heading {
    text-transform: uppercase;
    font-family: $primary-text;
    letter-spacing: $spacing-small;
    line-height: 19px;
  }

  &--primary {
    color: $primary;
    font-family: $primary-heading;
  }

  &--secondary {
    color: $secondary;
    font-family: $secondary-heading;
  }
}

h3.text {
  font-size: $heading-five-size;
}

h6.text {
  letter-spacing: $spacing-medium;
}
